.container {
	padding: 80px 16px;
	width: 100%;
	flex: 1;
}

.r-cont {
	width: 95%;
	max-width: 630px;
	padding: 30px 20px;
	/* background: #111; */
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	background-image: url("../../public/svg/rect-desk.svg");
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {
	font-size: 40px;
	font-weight: 600;
}

p {
	font-size: 18px;
	font-weight: 600;
}

p.nnp {
	color: #B4B4B4;
	font-size: 16px;
}

p.lit {
	font-size: 16px;
	font-weight: 300;
}

@media screen and (max-width: 720px) {
	.r-cont {
		background-image: url("../../public/svg/rect-mob.svg");
	}

	h1 {
		font-size: 24px;
	}

	p {
		font-size: 12px;
	}

	p.lit {
		font-size: 11px;
	}

	p.nnp {
		font-size: 11px;
	}
}

.imp {
	color: #006DD2;
}

.ptt {
	padding-top: 8px;
}

@media screen and (max-width: 720px) {
	div.wal-inp {
		width: 80%;
	}

	div.wal-inp .inp-cl {
		padding: 10px 14px;
	}

	div.wal-inp .inp-cl .inp-val {
		font-size: 12px;
	}

	div.wal-inp .auto-comp {
		font-size: 11px;
	}
}